@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',sans-serif;
}

.page-divider{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #F9B301;
    height: 100vh;
    width: 30%;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;


    .menu-section{
        flex: .5;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ham-bar{
            cursor: pointer;
        }
        .search{
            margin-right: 60%;
            cursor: pointer;
        }
    }

    .nav-links{
        flex: .5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        .nav-link{
            color: black;
            font-weight: 700;
            font-size: 24px;
            text-decoration: none;
        }
    }

}

main{
    height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: 5% 1fr 10%;
    gap: 10px;

    .showcase{
        width: 600px;
        height: 700px;
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        
    
        .main-image{
            width: 100%;
            height: 80%;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .controls{
            display: flex;
            width: 100%;
            height: 20%;
            
            img{
                width: 100%;
                height: 80%;
            }
            
        }
    }

    .text-section{
        grid-column: 3/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;

        .fashion-text{
            width: fit-content;
            background-color: #C4C4C4;
            padding: 5px;
            color: white;
            font-weight: bolder;
            padding: 10px 40px 10px 40px;
        }

        .main-text-section{
            margin-top: 10%;

            h1{
                font-size: 72px;
                font-weight:800;
            }

            p{
                font-size: 24px;
                margin-top: 3%;
                width: 60%;
                line-height: 50px;
                color: #C4C4C4;
            }
        }

        .read-more{
            margin-top: 5%;
            font-size: 36px;
            font-weight: 800;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            width: 35%;

            img{
                height: 70%;
            }
        }

        .subscribe{
            margin-top: 4%;
            margin-left: 3%;
            font-size: 28px;
            font-weight: 700;
        }

        .subscribe-form{
            width: fit-content;
            height: fit-content;
        }
        
    }
}