@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat',sans-serif;
}

.page-divider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #F9B301;
  height: 100vh;
  width: 30%;
}

nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

nav .menu-section {
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menu-section .ham-bar {
  cursor: pointer;
}

nav .menu-section .search {
  margin-right: 60%;
  cursor: pointer;
}

nav .nav-links {
  -webkit-box-flex: .5;
      -ms-flex: .5;
          flex: .5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .nav-links .nav-link {
  color: black;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

main {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  -ms-grid-rows: 5% 1fr 10%;
      grid-template-rows: 5% 1fr 10%;
  gap: 10px;
}

main .showcase {
  width: 600px;
  height: 700px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

main .showcase .main-image {
  width: 100%;
  height: 80%;
}

main .showcase .main-image img {
  width: 100%;
  height: 100%;
}

main .showcase .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20%;
}

main .showcase .controls img {
  width: 100%;
  height: 80%;
}

main .text-section {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .text-section .fashion-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #C4C4C4;
  padding: 5px;
  color: white;
  font-weight: bolder;
  padding: 10px 40px 10px 40px;
  margin-left: 3%;
}

main .text-section .main-text-section {
  margin-top: 6%;
  margin-left: 3%;
}

main .text-section .main-text-section h1 {
  font-size: 72px;
  font-weight: 800;
}

main .text-section .main-text-section p {
  font-size: 24px;
  margin-top: 2%;
  width: 60%;
  line-height: 50px;
  color: #C4C4C4;
}

main .text-section .read-more {
  margin-top: 3%;
  font-size: 36px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 35%;
  margin-left: 3%;
}

main .text-section .read-more img {
  height: 70%;
}

main .text-section .subscribe {
  margin-top: 4%;
  margin-left: 3%;
  font-size: 28px;
  font-weight: 700;
}

main .text-section .subscribe-form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
/*# sourceMappingURL=styles.css.map */